/* Focus on header and footer */
.h1 {
    color: white;
    grid-column: 4 / span 2;
    place-self: center center;
}

.button {
    background-color: white;
    grid-column: 8 / span 1;
    /* align-self: center; */
}

.header {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 100%;
}

